*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Montserrat", sans-serif;
    background-color: #EDEAD0;
}
body::-webkit-scrollbar{
    display: none;
}
nav{
    padding: 1rem 2rem;
}
nav .nav-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav .nav-box .nav-name h2{
    font-size: 2rem;
}
nav .nav-button ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 5rem;
}
nav .nav-button ul a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
nav .nav-button ul a:hover{
    color: #86BAA1;
    transition: all 0.2s ease-in-out;
    font-weight: bolder;
}

container h2{
    padding: 1rem 2rem;
}
container .cart-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 5rem;
}
container .cart-box .cart-img img{
    width: 20vw;
    height: 20vh;
    object-fit: cover;
}
container .cart-box .cart-img p{
    font-size: 1.5rem;
    font-weight: bolder;
}
container .cart-box .cart-quantity button,input{
    padding: 0.5rem;
    border: none;
    background-color: white;
    text-align: center;
}
container .cart-box .cart-quantity #in_but:hover{
    background-color: #86BAA1;
    color: white;
    transition: all 0.4s ease-in-out;
}
container .cart-box .cart-quantity #de_but:hover{
    background-color: #F45B69;
    color: white;
    transition: all 0.4s ease-in-out;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem 2rem; 
    /* background-color: red; */
}
footer .support{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
footer .support a{
    text-decoration: none;
    color: black;
}
footer .support a:hover{
    color: #86BAA1;
    transition: all 0.2s ease-in-out;
    font-weight: bolder;
}
footer .link{
    text-align: center;
}
footer .link p{
    margin-top: 1rem;
}
footer .link a{
    padding: 0 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}
footer .link a .fa-instagram:hover{
    color:#833AB4;
    transition: all 0.2s ease-in-out;
}
footer .link a .fa-facebook:hover{
    color:#4267B2;
    transition: all 0.2s ease-in-out;
}
footer .link a .fa-linkedin:hover{
    color:#0A66C2;
    transition: all 0.2s ease-in-out;
}
footer .form input{
    padding: 0.5rem;
    margin: 1rem 0;
    border: none;
}
footer .form input:focus{
    outline: none;
    box-shadow: 1px 1px 3px #333;
}
footer .form button{
    background-color: #EDEAD0;
    padding: 0.5rem;
}
footer .form button:hover{
    background-color: #86BAA1;
    color: white;
    transition: all 0.4s ease-in-out;
}
